
<h1>Cijfers berekenen</h1>
<form id="inputForm">
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-3 col-form-label">Maximaal aantal punten</label>
    <div class="col-sm-3">
      <input type="number" name="maxScore" class="form-control" [step]="1" [(ngModel)]="maxScore">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-3 col-form-label">Normering</label>
    <div class="col-sm-3">
      <select class="form-select" name="standardization" [(ngModel)]="standardization">
        <option value="linear">Linear</option>
        <option value="nonlinear">Niet linear</option>
        <option value="nterm">N-Term</option>
      </select>
    </div>
  </div> 

  @if (standardization == "nterm") {
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-3 col-form-label">N-Term</label>
      <div class="col-sm-3">
        <input type="number" class="form-control" name="nterm" [(ngModel)]="nterm" [step]="0.1">
      </div>
    </div>
  }
  @else
  {
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-3 col-form-label">Cijfer voor voldoende</label>
      <div class="col-sm-3">
        <input type="number" class="form-control" name="passGrade" [(ngModel)]="passGrade" [step]="0.5">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-3 col-form-label">Percentage goed voor voldoende</label>
      <div class="col-sm-3">
        <input type="number" class="form-control" name="passScoreGoal" [(ngModel)]="passScoreGoal" [step]="1">
      </div>
    </div>
  }
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-3 col-form-label">Invoer</label>
    <div class="col-sm-3">
      <select class="form-select" id="rightOrWrong">
        <option value="right">#Goed</option>
        <option value="wrong">#Fout</option>
      </select>
    </div>
  </div>
</form>