
<h1>Cijfers berekenen</h1>
<form id="inputForm" class="d-print-none">
<div class="row">
  <div class="col-md-4">
    <div class="row mb-3">
        <label class="col-6 col-form-label" for="maxScore">Maximaal aantal punten</label>
        <div class="col-6">
        <input type="number" required min="1" max="200" id="maxScore" name="maxScore" class="form-control" [step]="1" [(ngModel)]="maxScore" (change)="onChanges()">
        </div>
    </div>
    <div class="row mb-3">
        <label class="col-6 col-form-label" for="standardization">Normering</label>
        <div class="col-6">
            <select class="form-select" id="standardization" name="standardization" [(ngModel)]="standardization" (change)="onChanges()">
                <option value="linear">Linear</option>
                <option value="nonlinear">Niet linear</option>
                <option value="nterm">N-Term</option>
            </select>
        </div>
    </div> 

    @if (standardization == "nterm") {
        <div class="row mb-3">
            <label class="col-6 col-form-label" for="nterm">N-Term</label>
            <div class="col-6">
                <input type="number" required class="form-control" id="nterm" name="nterm" [(ngModel)]="nterm" [step]="0.1" (change)="onChanges()">
            </div>
        </div>
    }
    @else
    {
        <div class="row mb-3">
            <label class="col-6 col-form-label" for="passGrade">Cijfer voor voldoende</label>
            <div class="col-6">
                <input type="number" min="1" max="9" class="form-control" id="passGrade" name="passGrade" [(ngModel)]="passGrade" [step]="0.5" (change)="onChanges()">
            </div>
        </div>
        <div class="row mb-3">
            <label class="col-6 col-form-label" for="passScoreGoal">Percentage goed voor voldoende</label>
            <div class="col-6">
                <input type="number" min="10" max="90" class="form-control" id="passScoreGoal" name="passScoreGoal" [(ngModel)]="passScoreGoal" [step]="1" (change)="onChanges()">
            </div>
        </div>
    }
  </div>
  <div class="col-md-4">
    <div class="row mb-3">
        <label class="col-6 col-form-label">Toon</label>
        <div class="col-6">
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="showCorrect" name="showCorrect" [(ngModel)]="showCorrect" [disabled]="!showErrors" />
                <label class="form-check-label" for="showCorrect">#Goed</label>
            </div>
                
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" role="switch" id="showErrors" name="showErrors" [(ngModel)]="showErrors" [disabled]="!showCorrect" />
                <label class="form-check-label" for="showErrors">#Fout</label>
            </div>
        </div>
    </div>
  </div>
</div>
</form>

<p class="d-none d-print-block">
    Aantal punten: {{maxScore}}, 
    @if (standardization == "nterm") { N-Term: {{nterm | number: '1.1-1'}} }
    @else { voldoende: {{passGrade | number: '1.1-1'}}, percentage voor voldoende: {{passScoreGoal}}% }
</p>


@if (isLoading$ | async) {
    <div class="position-absolute container">
        <div class="col-md-8 d-flex justify-content-center m-5">
            <div class="spinner-border" role="status">
                <span class="visually-hidden">Loading...</span>
            </div>
        </div>
    </div>
}

<div class="row" [class.opacity-25]="isLoading$ | async">
@for(gradeList of grades$ | async; track gradeList) {
    <div class="col-6 col-sm-3 col-md-2">
        <table class="table table-sm table-hover" style="table-layout: fixed;">
        <thead>
            @if(showCorrect) { <th class="text-end">#Goed</th> }
            @if(showErrors) { <th class="text-end">#Fout</th> }
            <th>Cijfer</th>
        </thead>
        <tbody>
        @for(grade of gradeList; track grade) {
            <tr [class.fw-bold]="showCorrect ? grade.score % 10 == 0 : grade.errors % 10 == 0">
            @if(showCorrect) {  <td class="text-end">{{grade.score}}</td> }
            @if(showErrors) { <td class="text-end">{{grade.errors}}</td> }
            <td>{{grade.grade | number: '1.1-1' }}</td>
            </tr>
        }
        </tbody>
        </table>
    </div>
}


</div>