
<h1>Cijfers berekenen</h1>
<form id="inputForm">
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-3 col-form-label">Maximaal aantal punten</label>
    <div class="col-sm-3">
      <input type="number" required min="1" max="200" name="maxScore" class="form-control" [step]="1" [(ngModel)]="maxScore" (change)="onChanges()">
    </div>
  </div>
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-3 col-form-label">Normering</label>
    <div class="col-sm-3">
      <select class="form-select" name="standardization" [(ngModel)]="standardization" (change)="onChanges()">
        <option value="linear">Linear</option>
        <option value="nonlinear">Niet linear</option>
        <option value="nterm">N-Term</option>
      </select>
    </div>
  </div> 

  @if (standardization == "nterm") {
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-3 col-form-label">N-Term</label>
      <div class="col-sm-3">
        <input type="number" required class="form-control" name="nterm" [(ngModel)]="nterm" [step]="0.1" (change)="onChanges()">
      </div>
    </div>
  }
  @else
  {
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-3 col-form-label">Cijfer voor voldoende</label>
      <div class="col-sm-3">
        <input type="number" min="1" max="9" class="form-control" name="passGrade" [(ngModel)]="passGrade" [step]="0.5" (change)="onChanges()">
      </div>
    </div>
    <div class="row mb-3">
      <label for="inputEmail3" class="col-sm-3 col-form-label">Percentage goed voor voldoende</label>
      <div class="col-sm-3">
        <input type="number" min="10" max="90" class="form-control" name="passScoreGoal" [(ngModel)]="passScoreGoal" [step]="1" (change)="onChanges()">
      </div>
    </div>
  }
  <div class="row mb-3">
    <label for="inputEmail3" class="col-sm-3 col-form-label" (change)="onChanges()">Invoer</label>
    <div class="col-sm-3">
      <select class="form-select" name="showCorrect" [(ngModel)]="showCorrect">
        <option [ngValue]="true">#Goed</option>
        <option [ngValue]="false">#Fout</option>
      </select>
    </div>
  </div>
</form>



<div class="row">
@if (isLoading$ | async) {
    <div class="col-md-8 d-flex justify-content-center">
        <div class="spinner-border" role="status">
            <span class="visually-hidden">Loading...</span>
        </div>
    </div>
}
</div>

<div class="row">
@for(gradeList of grades$ | async; track gradeList) {
    <div class="col-6 col-sm-3 col-md-2">
        <table class="table table-sm table-hover">
        <thead>
            @if(showCorrect) { <th class="text-end">#Goed</th> }
            @else { <th class="text-end">#Fout</th> }
            <th>Cijfer</th>
        </thead>
        <tbody>
        @for(grade of gradeList; track grade) {
            <tr [class.fw-bold]="showCorrect ? grade.score % 10 == 0 : grade.errors % 10 == 0">
            @if(showCorrect) {  <td class="text-end">{{grade.score}}</td> }
            @else { <td class="text-end">{{grade.errors}}</td> }
            <td>{{grade.grade | number: '1.1-1' }}</td>
            </tr>
        }
        </tbody>
        </table>
    </div>
}


</div>